.header {
  display: flex;
  justify-content: center;
  max-height: 3rem;
}

.post-header-container {
  display: flex;
}

.body__container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.sidebar {
  background-color: #9ea1a3;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  margin: 0 5% 0 0;
  width: 15%;
}

.nav__ul {
  list-style: none;
  padding-left: 0px;
}

.main {
  display: flex;
  width: 80%;
}
